.header {
  display: flex;
  height: 4rem;
  padding: 0.5em 1rem;
  background: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.img {
  width: 50px;
  margin-right: 0.3em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgrey;
  outline: 0;
}

.buttonImg {
  width: 90%;
  background-color: darkgrey;
  height: 90%;
}
